<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
	<nav>
		<img src="/images/microsoft.png" id = "home" alt="Microsoft">
		<ul class = "firstMenu">
			<li>
				스토어 v
				<ul class ="secondMenu">
					<li><a hef="#">스토어 홈</a></li>
					<li>
						Office
						<ul class ="thirdMenu">
							<li>Office</li>
							<li>Office 제품군</li>
							<li>모든 Office 앱</li>
							<li>Office for Mac</li>
							<li>Office 365 구독</li>
							<li>Office 제품군 비교</li>
							<li>Office 언어 팩</li>
						</ul>
					</li>
					<li>
						Windows
						<ul class ="thirdMenu">
							<li>Windows</li>
							<li>Windows 10 Home</li>
							<li>Windows 10 Pro</li>
						</ul>
					</li>
					<li>
						기타 소프트웨어
						<ul class ="thirdMenu">
							<li>기타 소프트웨어</li>
							<li>Visio</li>
							<li>Project</li>
							<li>Visual Studio</li>
						</ul>
					</li>
					<li>학생 및 교직원 스토어</li>
					<li>
						기기
						<ul class ="thirdMenu">
							<li>Surface - Gmarket</li>
							<li>Surface - Auction</li>
							<li>Xbox - Gmarket</li>
							<li>Xbox - Auction</li>
							<li>PC & 액세서리 - Gmarket</li>
							<li>PC & 액세서리 - Auction</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				제품 v
				<ul class ="secondMenu">
					<li>
						소프트웨어 및 서비스
						<ul class ="thirdMenu">
							<li>Windows</li>
							<li>Office</li>
							<li>무료 다운로드 및 보안</li>
							<li>Internet Explorer</li>
							<li>Microsoft Edge</li>
							<li>Skype</li>
							<li>OneNote</li>
							<li>OneDrive</li>
							<li>MSN</li>
							<li>Bing</li>
						</ul>
					</li>
					<li>
						디바이스 및 Xbox
						<ul class ="thirdMenu">
							<li>Microsoft Surface</li>
							<li>PC 및 주변기기</li>
							<li>Xbox 및 게임</li>
						</ul>
					</li>
					<li>
						기업 고객용
						<ul class ="thirdMenu">
							<li>클라우드 플랫폼</li>
							<li>Microsoft Azure</li>
							<li>Microsoft Dynamics</li>
							<li>비즈니스용 Windows</li>
							<li>비즈니스용 Office</li>
							<li>비즈니스용 Skype</li>
							<li>기업 고객용 Surface</li>
							<li>엔터프라이즈 솔루션</li>
							<li>소규모 기업용 솔루션</li>
							<li>솔루션 공급자 찾기</li>
							<li>볼륨 라이선싱</li>
						</ul>
					</li>
					<li>
						개발자 및 IT 전문가용
						<ul class ="thirdMenu">
							<li>Windows 앱 개발</li>
							<li>Microsoft Azure</li>
							<li>MSDN</li>
							<li>TechNet</li>
							<li>Visual Studio</li>
						</ul>
					</li>
					<li>
						학생 및 교육자용
						<ul class ="thirdMenu">
							<li>학생용 PC 및 태블릿 구매하기</li>
							<li>교육</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>지원</li>
		</ul>
		<div id="sidebar">
			<form>
				<input type="text" id ="textarea" alt="검색" value = "Microsoft.com 검색"> 
				<input type="button" id ="btn" alt="버튼">		
			</form>		
			<span>쇼핑카트</span>
			<span>로그인</span>
		</div>
	</nav>

	<div id="main">
		<article id = "slide">
			<img src= "/images/Srfc_Pro4BG_1006_1920x720_EN_US.jpg" alt="surface">
			<div id ="slidetext">
				<p> Surface Pro 4 소개</p>
				<a hef ="#">자세한 내용 > </a>
			</div>
		</article>

		<section>
			<article class = "banner">
				<img src="images/Xbox_Console_1215_540x304_EN_US.jpg" alt="Xbox">
				<h3>Xbox One</h3>
				<p>최신 Xbox 콘솔과 함께 즐거운 시간을 보내세요.</p>
			</article>

			<article class = "banner">
				<img src="images/Ofc_OneNoteMap_0201_540x304_EN_US.jpg" alt="OneNote">
				<h3>OneNote</h3>
				<p>일상과 메모를 정리하세요. 무료다운로드</p>
			</article>

			<article class = "banner">
				<img src="images/Win10_GA_1002_540x304_EN_US.jpg" alt="upgrade">
				<h3>Windows 10 무료 업그레이드*</h3>
				<p>미루지 마세요! 혜택이 만료되는 2016년 7월 29일 이전에 업그레이드하세요.</p>
			</article>

			<article class = "banner">
				<img src="images/REuD3Y.jpg" alt="store">
				<h3>Microsoft 스토어</h3>
				<p>집과 학교, 직장 및 여가 생활에 필요한 제품을 찾아보세요.</p>
			</article>
		</section>

		<article class="slide">
			<img src ="Ofc_Mac_BG_0215_1920x720_EN_US.jpg" alt="appstore">
			<div>
				<p>놀라운 Windows용 앱. <br> 언제 어디서나 즐기고, 생산성을 높이거나 창의력을 발휘할 수 있는 무료 및 유료 앱을 찾아보세요.
				</p>
				<a href="#">Windows 스토어에서 앱 탐색 </a>
			</div>
		</article>

		<h2>기업 사용자</h2>
		<section>
			<article class = "banner">
				<img src="images/Ofc365_Enterprise_1201_540x304_ROW.jpg" alt="Office365">
				<h3>새로워진 엔터프라이즈용 Office 365</h3>
				<p>지금 이용 가능한 모든 기능을 확인해보세요.</p>
			</article>

			<article class = "banner">
				<img src="images/Ofc_OneNoteMap_0201_540x304_EN_US.jpg" alt="enterprise">
				<h3>Windows 10 Enterprise</h3>
				<p>IT 전문가용 90일 무료 평가판 다운로드.</p>
			</article>

			<article class = "banner">
				<img src="images/REvG6c.jpg" alt="SQL">
				<h3>SQL Server 2016</h3>
				<p>더 빨라진 속도, 더욱 강력해진 보안 무료로 체험해보세요.</p>
			</article>

			<article class = "banner">
				<img src="images/Dyn_CRMOnline_0303_540x304.jpg" alt="CRM">
				<h3>Microsoft Dynamics CRM</h3>
				<p>새로운 기능을 경험해보세요. 지금 체험하기.</p>
			</article>
		</section>
	</div>

	<footer>
		<div id="followSNS"> 
			<p id="followtext">Microsoft 팔로우</p>
			<img src="/images/facebook.png">
			<img src="/images/twitter.png">
		</div>
		<ul id="footermenu">
			<li>자세히 보기
				<ul class="moreDetail">
					<li><a href="#">Windows</a></li>
					<li><a href="#">Office</a></li>
					<li><a href="#">Skype</a></li>
					<li><a href="#">Outlook</a></li>
					<li><a href="#">OneDrive</a></li>
					<li><a href="#">Msn</a></li>
				</ul>
			</li>
			<li>장치
				<ul class="moreDetail">
					<li><a href="#">Microsoft Surface</a></li>
					<li><a href="#">Xbox</a></li>						
					<li><a href="#">Microsoft Lumia</a></li>
				</ul>
			</li>
			<li>Microsoft 스토어
				<ul class="moreDetail">
					<li><a href="#">내 계정</a></li>
					<li><a href="#">주문 추적</a></li>
					<li><a href="#">반품/환불</a></li>
					<li><a href="#">판매 및 지원</a></li>
				</ul>
			</li>
			<li>다운로드
				<ul class="moreDetail">
					<li><a href="#">다운로드 센터</a></li>
					<li><a href="#">Windows용 다운로드</a></li>
					<li><a href="#">Windows 10 Apps</a></li>
					<li><a href="#">Office Apps</a></li>
					<li><a href="#">Internet Explorer</a></li>
				</ul>
			</li>
			<li>가치
				<ul class="moreDetail">
					<li><a href="#">Microsoft의 개인정보</a></li>
				</ul>
			</li>
			<li>회사
				<ul class="moreDetail">
					<li><a href="#">인재채용</a></li>
					<li><a href="#">Microsoft</a></li>
					<li><a href="#">뉴스 센터</a></li>
					<li><a href="#">사이트맵</a></li>
				</ul>
			</li>
		</ul>
		<ul id="data">
			<li>한국어(대한민국)‎</li>
			<li>문의처 (고객 지원 센터 : 1577-9700)</li>
			<li>개인정보취급방침 및 청소년보호정책</li>
			<li>사용약관</li>
			<li>상표</li>
			<li>광고</li>
			<li>정보</li>
			<li>© 2016 Microsoft</li>
		</ul>
		
	</footer>
</body>
</html>
