* {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
ul {
  list-style: none;
}
nav {
  position: relative;
}
nav #home {
  position: absolute;
  left: 65px;
  top: 13px;
  width: 108px;
}
nav .firstMenu {
  position: relative;
  left: 200px;
  top: 17px;
}
nav .firstMenu li {
  display: inline;
  width: 150px;
  padding: 30px 30px 15px 30px;
  -webkit-transition: all 0.3s ease;
}
nav .firstMenu li:hover {
  background-color: #a9a9a9;
}
nav #sidebar {
  position: relative;
  left: 890px;
  display: inline;
  bottom: 5px;
}
nav #sidebar form {
  display: inline;
}
nav #sidebar form #textarea {
  position: relative;
  padding-left: 15px;
  width: 250px;
  height: 30px;
}
nav #sidebar form #btn {
  postion: absolute;
  right: 10px;
}
nav #sidebar span {
  display: inline;
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
#main {
  position: relative;
}
#main #slide img {
  position: absolute;
  top: -2em;
  width: 100%;
}
#main #slidetext {
  position: absolute;
  text-align: center;
  top: 22em;
  left: 38%;
}
#main #slidetext p {
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 20px;
}
#main #slidetext a {
  font-size: 20px;
  font-weight: lighter;
}
#main section {
  position: relative;
  display: flex;
  top: 500px;
  left: 45px;
  margin: 30px;
}
#main .banner {
  width: 250px;
  text-align: center;
  margin: 15px;
}
#main .banner img {
  width: 100%;
}
#main .banner h3 {
  font-size: 23px;
  font-weight: lighter;
  margin: 10px;
}
#main .banner p {
  font-size: 17px;
  font-weight: lighter;
  margin: 10px;
}
footer {
  position: relative;
  top: 600px;
  height: 400px;
  width: 100%;
  background-color: #a9a9a9;
}
footer #followSNS {
  position: absolute;
  padding-left: 100px;
  background-color: #808080;
  height: 50px;
  width: 100%;
}
footer #followSNS #followtext {
  font-size: 20px;
  display: inline;
}
footer #followSNS img {
  margin-top: 5px;
}
footer #footermenu {
  left: 100px;
  position: absolute;
  display: flex;
  height: 200px;
  width: 100px;
  top: 5em;
}
footer #footermenu li {
  font-size: 16px;
  margin: 5px 20px 10px 0px;
}
footer #footermenu .moreDetail {
  width: 150px;
}
footer #footermenu .moreDetail a {
  font-size: 12px;
}
footer #data {
  position: absolute;
  top: 20em;
  left: 100px;
}
footer #data li {
  display: inline;
  margin-right: 20px;
  font-size: 12px;
}
footer #data li:first-child {
  margin-right: 250px;
}
.secondMenu {
  display: none;
}
.thirdMenu {
  display: none;
}
