body
	padding 0
	margin 0
	font-family 'Malgun Gothic','Gulim'
ul
	list-style none

nav
	#home
		float left
		width 108px
		margin-top 14px
		margin-left 66px
		
	.firstMenu
		float left
		display inline-block
		li
			display inline-block
			padding-left 40px
			-webkit-transition all 0.3s ease
			
			&:hover
				background-color gray
		li:first-child
			padding-left 10px		
	#sidebar
		float right
		margin-right 70px
		margin-top 7px
		
		form
			display inline
			position relative
			
			#textarea
				padding-left 15px
				width 250px
				height 30px
				font-size 15px
			
			#btn 
				position absolute
				right 10px
				top 2px
				width 20px
			
		span
			display inline
			font-size 10px
			margin-left 10px
			margin-right 10px
	
#main
	clear both
	#slide
		position relative
		img
			top -2em
			width 100%
		
		#slidetext
			position absolute
			text-align center
			top 22em
			left 32%
			
			p
				font-size 30px
				font-weight lighter
				margin-bottom 20px
			
			a
				font-size 20px
				font-weight lighter
		
	#slide2
		position relative
		img
			top -2em
			width 100%
		
		#sildetext2
			position absolute
			top 10em
			left 5%
			
			p
				font-size 30px
				font-weight lighter
				margin-bottom 20px
				
			#detail
				font-size 17px
				font-weight lighter
				
			a
				font-size 17px
				font-weight lighter
	h2 
		text-align center
	section 
		display flex
		margin 0 auto
		clear both
		
		.banner 
			width 250px
			text-align center
			margin 30px 0px 30px 65px

		 	img
				width 100%
			
			h3
				font-size 23px
				font-weight lighter
				margin 10px
			
			p
				font-size 17px
				font-weight lighter
				margin 10px
			
footer 
	width 100%
	height 350px
	background-color darkgray
	float left

	#followSNS
		padding-left 100px
		background-color gray
		height 50px
		width 100%
		
		#followtext
			font-size 20px
			display inline
		
	#footermenu 
		clear both
		display flex
		
		li
			font-size 16px
			.moreDetail 
				width 150px
			
			a 
				font-size 12px
	
	#data 
		top 20em
		left 100px
		
		li 
			display inline
			margin-right 20px
			font-size 12px

			&:first-child
				margin-right 250px

.secondMenu
	display none
.thirdMenu
	display none
